<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body id="myPage" data-target=".navbar" data-offset="60">
    <div id="about" class="container-fluid">
      <h2 id="about-header">About Us</h2>
      <h4>Luchi Posters - Posters Shop </h4>
      <p>bla bla bla.............</p>    </div>

    <div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-sm-4">
          <img id="about_img" src="images/ariel3.png"></img>
        </div>
        <div class="col-sm-8">
          <h2 id="product-header">Our Products</h2>
          <h4>Luchi Posters - Posters Shop </h4>
          <p> bla bla bla.............</p> </div>

      </div>
    </div>


  </body>
</html>