<!DOCTYPE html>
<html>
<head>
    <script src="../public/test.js"></script>
</head>
<body>
<div >
<button id="login" type="button" class="btn btn-primary btn-lg btn-block login-btn" onclick="init()">Login</button>
</div>
</body>
</html>

