<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials %>
</head>
<body>
<header>
    <% include partials %>
</header>
<script src="functionality.js"></script>

<div id="content"></div>
<!-- Modal HTML -->
<div id="addWebManagerModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Manager</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="user_name_user" placeholder="User Name" required="required" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="password_user" placeholder="Password" required="required" style="text-security:disc; -webkit-text-security:disc;">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="fname_user" placeholder="First Name" required="required">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="lname_user" placeholder="Last Name" required="required">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="street_user" placeholder="Street" required="required">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="city_user" placeholder="City" required="required">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="state_user" placeholder="State" required="required">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="phone_user" placeholder="Phone" required="required"
                               pattern="[0-9]{3}-[0-9]{7}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="mail_user" placeholder="Mail" required="required">
                    </div>
                    <div class="form-group">
                        <data id="category_user" class="form-control" value="manager" >Manager</data>
                    </div>
                    <div class="form-group">
                        <select id="bnumber_select_user"  class="form-control">
                            <option selected disabled>Branch Number</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="addUserButton" type="button" class="btn btn-primary btn-lg btn-block login-btn" onclick="addFirstUser()">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#addWebManagerModal").modal('show');
</script>
<footer>
    <% include partials %>
</footer>
</body>
</html>